#h2 {
    color: blue;
    text-align: center;
    font-size: 75px;
    
}

.body {
    background-color: rgb(243, 243, 237);
    
}

.p1 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p2 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image {
    width:90%; height:550px;
}

.listItem {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: rgb(243, 243, 237);
}

.flex-container img {
    width: 300px;
    height: 300px;
}

#h4 {
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    font-size: 50px;
}

.ol {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top-bar {
    position: fixed;
    color: yellow;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(10, 0, 0, 0.9);
    padding-left: 30px;
    
}




